<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.insurancedemo3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InsuranceDemo3">
        <activity android:name=".Premium_Calculator"
            android:parentActivityName=".HomePage"></activity>
        <activity android:name=".Branch_Office"
            android:parentActivityName=".HomePage"/>
        <activity android:name=".Website"
            android:parentActivityName=".HomePage"/>
        <activity android:name=".HomePage" />
        <activity android:name=".Login_Registration_Guest" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>